@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: $primary_Color;
  width: 200px;
  height: 200px;
  font-size: 16px;
}

main {
  height: 100px;
  width: 300px;
  background-color: blueviolet;

  button {
    background-color: $primary_Color;
    font-size: 16px;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    color: $text-color;
    cursor: pointer;

    &:hover {
      background-color: $text-color;
      color: $primary_Color;
    }
    &::after {
      content: "hiiiiii";
      padding: 50px;
      background-color: yellowgreen;
      display: none;
      position: absolute;
      color: $white;
      left: 20px;
      top: 30px;
    }

    &:hover::after {
      display: inline-block;
    }
  }
}

footer {
  height: 200px;
  background-color: $primary_Color;
}
